<div class="container">
  <app-header></app-header>

  <div class="content">
    <nav class="sidebar">
      <ul class="side-nav">
        <li class="side-nav__item side-nav__item--active">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-home"></use>
            </svg>

            <span>Hotel</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-aircraft-take-off"></use>
            </svg>

            <span>Flight</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-key"></use>
            </svg>

            <span>Car rentals</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-map"></use>
            </svg>

            <span>tours</span>
          </a>
        </li>

      </ul>

      <div class="legal">
        &copy; 2018 by hydeenoble. All rights reserved.
      </div>
    </nav>

    <main class="hotel-view">
      <div class="gallery">
        <figure class="gallery__item">
          <img src="../assets/img/hotel-1.jpg" alt="Gallery Photo 1" class="gallery__photo">
        </figure>

        <figure class="gallery__item">
          <img src="../assets/img/hotel-2.jpg" alt="Gallery Photo 2" class="gallery__photo">
        </figure>

        <figure class="gallery__item">
          <img src="../assets/img/hotel-3.jpg" alt="Gallery Photo 3" class="gallery__photo">
        </figure>

      </div>

      <div class="overview">
        <h1 class="overview__heading">
          Hotel Las Palmas
        </h1>
        <div class="overview__stars">
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
        </div>

        <div class="overview__location">
          <svg class="overview__icon-location">
            <use xlink:href="../assets/sprite.svg#icon-location-pin"></use>
          </svg>
          <button class="btn-inline">Albufeira, Portugal</button>
        </div>

        <div class="overview__rating">
          <div class="overview__rating-average">8.6</div>
          <div class="overview__rating-count">429 votes</div>
        </div>
      </div>

      <div class="detail">
        <div class="description">
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
          </p>
          <p class="paragraph">
            Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
          </p>
          <ul class="list">
            <li class="list__item">Close to the beach</li>
            <li class="list__item">Breakfast included</li>
            <li class="list__item">Free airport shuttle</li>
            <li class="list__item">Free wifi in all rooms</li>
            <li class="list__item">Air conditioning and heating</li>
            <li class="list__item">Pets allowed</li>
            <li class="list__item">We speak all languages</li>
            <li class="list__item">Perfect for families</li>
          </ul>

          <div class="recommend">
            <p class="recommend__count">
              Hydeenoble and 3 other friends recommend this hotel.
            </p>
            <div class="recommend__friends">
              <img src="../assets/img/user-3.jpg" alt="Friend 1" class="recommend__photo">
              <img src="../assets/img/user-4.jpg" alt="Friend 2" class="recommend__photo">
              <img src="../assets/img/user-5.jpg" alt="Friend 3" class="recommend__photo">
              <img src="../assets/img/user-6.jpg" alt="Friend 4" class="recommend__photo">
            </div>
          </div>
        </div>
        <div class="user-reviews">
          user-reviews
        </div>
      </div>
    </main>
  </div>

</div>
